TODO.md
.tern-port
node_modules/
.mypy_cache/
.pyre/
# OS or Editor files
._*
.DS_Store
Thumbs.db
tags
~$*

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.ropeproject

# Always-ignore extensions
*~
*.diff
*.err
*.log
*.orig
*.pyc
*.rej
*.sass-cache
*.sw?
*.vi
.config/nvim/spell
.config/yarn
.config/configstore
.config/hub
.config/wireshark
.config/nixpkgs
.venv
hidden*
.history
*.pem
*.crt
target
