[core]
  editor = nvim
  autocrlf = false
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  pager = "diff-so-fancy | less --tabs=4 -RFX"
[push]
  default = simple
[color]
  ui = auto
[merge]
  tool = vimdiff
[user]
  name = Steve Dignam
  email = steve@dignam.xyz
[diff-so-fancy]
  stripLeadingSymbols = false
[stash]
  showPatch = true
[pull]
  ff = only
[rebase]
  autostash = true
[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold
