[core]
  editor = nvim
  autocrlf = false
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[push]
  default = simple
[color]
  ui = auto
[merge]
  tool = vimdiff
[user]
  name = Steve Dignam
  email = steve@dignam.xyz
