"*":
  "atom-beautify": {}
  core:
    audioBeep: false
    disabledPackages: [
      "minimap"
      "metrics"
      "exception-reporting"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-dark-ui"
      "hybrid-next-syntax"
    ]
  editor:
    fontFamily: "menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "go-plus": {}
  "save-session":
    dataSaveFolder: "/Users/steve/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
