"*":
  "atom-beautify":
    analytics: false
    java_configPath: "~/.uncrustify.cfg"
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  core:
    audioBeep: false
    disabledPackages: [
      "minimap"
      "metrics"
      "exception-reporting"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-dark-ui"
      "hybrid-next-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "go-plus": {}
  "save-session":
    dataSaveFolder: "/Users/steve/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
